* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  padding: 100px 0;
}

#banner{
  background-image: url('../images/banner_index.jpg');
  background-size: cover;
  background-position: center;
  height: 80vh;
  margin: 0 4%;
  box-shadow:inset 0 0 0 2000px rgba(87, 85, 85, 0.5);
  display: grid;
  align-items: center;
  color: #FFF;
  text-align: center;
  padding: 0 6rem;
  border-radius: 5px;
}

#banner h1{
  font-size: 4rem ;
}

#banner p{
  margin-top: 1rem;
  font-size: 1.3rem ;
}

.title-products {
  color: #FFF;
  text-align: center;
  margin-top: 3rem;
}

.list-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin: 1rem 2.5rem 0;
  justify-items: center;
}

.product-card {
  width: 100%;
  height: 350px;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: rgb(209, 209, 230);
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}

.product-card h1 {
  font-size: 2rem;
  margin: .5rem 0;
}

.product-card img {
  display: block;
  height: 175px;
  width: 175px;
  border-radius: 10px;
}

.product-card button {
  background-color: rgb(1, 29, 66);
  margin: 1rem 0;
  padding: 1rem 3rem;
  border-radius: 10px;
}

.product-card button:hover {
  background-color: rgb(2, 54, 122);
}

.product-card button a {
  color: white;
  text-decoration: none;
}

/* Tablets */
@media screen and (max-width: 768px) {
  main {
    padding: 80px 0;
  }
  #banner{
    padding: 0 4rem;
  }
  #banner h1{
    font-size: 3rem;
  }
  #banner p{
    font-size: 1rem;
  }
  .list-products {
    grid-template-columns: 1fr 1fr;
    gap: 20px 10px;
  }
}

/* Celulares */
@media screen and (max-width: 425px) {
  #banner{
    padding: 0 2.5rem;
  }
  #banner h1{
    font-size: 2rem;
  }
  #banner p{
    font-size: .8rem;
  }
  .title-products {
    font-size: 1.5rem;
  }
  .list-products {
    grid-template-columns: 1fr;
    gap: 15px 0;
    margin: 1rem 1rem 0;
  }
  .product-card h1 {
    font-size: 1.7rem;
  }
  .product-card button {
    padding: .9rem 3.5rem;
    border-radius: 10px;
  }
}