* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


main {
  min-height: 100vh;
  padding: 100px 0;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin: 0 50px;
  justify-items: center;
}

#banner{
  background-image: url('../images/banner_index.jpg');
  background-size: cover;
  background-position: center;
  height: 80vh;
  box-shadow:inset 0 0 0 2000px rgba(87, 85, 85, 0.5);
}

.banner-card{
  text-align: center;
  padding: 0px 160px;
}

.d-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.banner-card h1{
  color: #FFF;
  font-size: 4rem ;
}

/*
.banner-card h2{
  color: #FFF;
  font-size: 3rem ;
}
*/

article {
  width: 100%;
  height: 325px;
  background-color: rgb(209, 209, 230);
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}

article h1 {
  font-size: 2rem;
  margin: .5rem 0;
}

article img {
  height: 150px;
  width: 150px;
}

article p {
  font-size: 1.1rem;
}

article button {
  background-color: rgb(1, 29, 66);
  margin-top: 30px;
  padding: 1rem 3rem;
  border-radius: 10px;
}

article button:hover {
  background-color: rgb(2, 54, 122);
}

article button a {
  color: white;
  text-decoration: none;
}

/* Tablets */
@media screen and (max-width: 768px) {
  section {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 0 20px;
  }
}

/* Celulares */
@media screen and (max-width: 425px) {
  section {
    grid-template-columns: 1fr;
    gap: 15px 0;
    margin: 0 10px;
  }
  article button {
    padding: .9rem 3.5rem;
    border-radius: 10px;
  }
}