* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-gral{
  color: white;
  padding: 100px 150px;
}

.container-nos{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  padding: 5px;
}

.nos-uno, .nos-dos, .nos-tres, .nos-cuatro{
  padding: 12px;
  border: 1px black solid;
  height: 35px;
  overflow: hidden;
  transition: height 0.5s ease; 
  border-radius: 5px;
  text-align: center;
}


.nos-tres, .nos-cuatro{
  margin-top: 5px;
}


.nos-uno:hover, .nos-dos:hover, .nos-tres:hover, .nos-cuatro:hover{
  height: 130px;
  background-color: white;
  color: black;
}

.img-grupo{
  text-align: center;
}

h1, h2, p{
  text-align: center;
}

