* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-gral{
  color: white;
  padding: 6.25vw 9.375vw;
}

.container-nos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */
  gap: 5px;
  padding: 5px;
}

.nos-uno, .nos-dos, .nos-tres, .nos-cuatro{
  padding: 0.75rem;
  border: 1px white solid;
  height: 2.1875rem;
  overflow: hidden;
  transition: height 0.5s ease-in-out; 
  border-radius: 5px;
  text-align: center;
}


/* .nos-tres, .nos-cuatro{
  margin-top: 5px;
} */


.nos-uno:hover, .nos-dos:hover, .nos-tres:hover, .nos-cuatro:hover{
  height: 13rem;
  background-color: #caf0f8;
  color: black;
}

.img-grupo{
  text-align: center;
}

h1, h2, p{
  text-align: center;
}

.terminos{
  border: 1px white solid;
  padding: 0.75rem;
  border-radius: 5px;
  text-align: center;
}


@media screen and (max-width: 768px){
  .container-gral{
    padding: 6rem 3.125rem;
  }
  .container-nos{
    grid-template-columns: 1fr 1fr;
  }
  .nos-uno, .nos-dos, .nos-tres, .nos-cuatro{
    height: auto;
    transition: none;
  }
  .nos-tres, .nos-cuatro{
  margin-top: 5px;
  }
  /* .nos-uno:hover, .nos-dos:hover, .nos-tres:hover, .nos-cuatro:hover{
    height: 24rem;
  } */

}

@media screen and (max-width: 425px){
  .container-gral{
    padding: 4rem 1.25rem;
  }
  .container-nos{
    grid-template-columns: 1fr;
  }
  
  .nos-uno, .nos-dos, .nos-tres, .nos-cuatro{
    height: auto;
    transition: none;
  }
  .nos-tres, .nos-cuatro{
    margin-top: 5px;
  }
  /* .nos-uno:hover, .nos-dos:hover, .nos-tres:hover, .nos-cuatro:hover{
    height: 20.3125rem;
  } */
}