/* Body */
body {
  background-color: #161515;
  background-image: url('../images/fondo.jpg');
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Mulish', sans-serif;
}


/* Header */

:root {
  --navbar-bg-color:#274c77;
  --navbar-text-color: #e7ecef;
  --navbar-text-color-focus:#8b8c89;
  --navbar-bg-contrast: #a3cef1;
}


header nav {
  max-width: 1000px;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  margin-left: auto;
  margin-right: auto;
}
#navbar {
  --navbar-height: 64px;
  position: fixed;
  height: var(--navbar-height);
  background-color: var(--navbar-bg-color);
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.navbar-item {
  margin: .4rem;
  width: 100%;
}

.home-link,
.navbar-link {
  color: var(--navbar-text-color);
  text-decoration: none;
  display: flex;
  font-weight: 600;
  align-items: center;
}

.home-link:is(:focus, :hover) {
  color: var(--navbar-text-color-focus);
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: .4em .8em;
  border-radius: 5px;
  white-space: nowrap;
}

.navbar-link:is(:focus, :hover) {
  background-color: #19324e;
}

#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  background-color: var(--navbar-text-color);
}
#navbar-toggle:is(:focus, :hover) .icon-bar {
  background-color: var(--navbar-text-color-focus);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
  transform: rotate(45deg);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
  transform: rotate(-45deg);
}
#navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}
#navbar-toggle[aria-expanded="true"] + #navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
}
.navbar-links {
  list-style: none;
  position: absolute;
  background-color: var(--navbar-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
  padding: 1em;
}

#img_user {
  height: 35px;
  width: 35px;
  object-fit: cover;
  border-radius: 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
  left: 45%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #181616;
  min-width: 160px;
  height: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  color: white;
  font-size: medium;
  text-align: center;
  text-decoration: none;
  padding: .5rem 0;
}

.dropdown-content a:hover {
  color: rgba(255, 255, 255, 0.644);
  font-size: larger;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (min-width: 700px) {
  #navbar-toggle,
  #navbar-toggle[aria-expanded="true"] {
    display: none;
  }

  #navbar-menu,
  #navbar-toggle[aria-expanded="true"] #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }

  .navbar-links,
  #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}



/* Footer */

.footer{
  position: relative;
  bottom: -2rem;
  background: #274c77;
  padding:30px 0 0 0;
  font-family: 'Mulish', sans-serif;
  text-align:center;
}
  
.footer .row{
  width:100%;
  margin:2% 0%;
  padding: 0 6%;
  color:#fff;
  font-size:.9em;
}
  
.footer .row a{
  text-decoration:none;
  color:#fff;
  transition:0.5s;
}
  
.footer .row a:hover{
  color:#fff;
}
  
.footer .row ul{
  width:100%;
}
  
.footer .row ul li{
  display:inline-block;
  margin:20px 30px;
}

.footer .row p {
    color: #fff;
    margin: auto;
    text-align: center;
    padding: 10px;
}
  
  
@media (max-width:720px){
    .footer .row ul li{
      display:block;
      margin:10px 0px;
    }
}
